# Postgres
POSTGRES_USER=hotel_user
POSTGRES_PASSWORD=hotel_pass
POSTGRES_DB=hotel_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0

# RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

# Logging
LOG_LEVEL=INFO
